 .modal {
    display: flex;
     flex-direction: column;
     background: rgb(212, 220, 248) !important;
     max-width: 600px;
max-height: 80%;
     /* padding: 20px;
     border-radius: 8px;
     margin: auto;*/
}  

.error {
    color: red;
    font-size: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal form {
    display: flex;
    flex-direction: column;
    
}

.modal input[type="text"],
.modal input[type="date"],
.modal input[type="email"],
.modal input[type="password"] {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

.modal button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
