.modal {
    display: flex;
    flex-direction: column;
    background: #e4ebff !important;
    max-width: 800px;
    max-height: 80%;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
}

.error {
    color: red;
    font-size: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal form {
    display: flex;
    flex-direction: column;

}

.modal input[type="text"],
.modal input[type="date"],
.modal input[type="email"],
.modal input[type="number"],
.modal input[type="password"] {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 9px;
    border: none;
}

.modal button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}